{% extends "material-admin/base.html" %}
{% load custom_tags %}
{% load static %}

{% block css %}
{% endblock %}

{% block breadcrumb %}
<!-- here you go -->
{% endblock %}

{% block content %}

<div class="col s12 m12 l12">
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="msg {{ message.tags }}" {% endif %}> {{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

<div class="row">
  <p>
    <a href="{% url 'riwayatstudi:add' %}" class="btn"> Tambah Data </a>
  </p>
  {% for studi in datas %}
  <div class="col s12 m6 l6">
    <div class="card card card-default scrollspy">
      <div class="card-content">
        {% include 'riwayatstudi/table-studi.html' %}
        <br />
        <a href="{% url 'riwayatstudi:edit' studi.id %}" class="btn"> Edit </a>
        <a href="{% url 'riwayatstudi:delete' studi.id %}" class="btn red"> Delete </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block js %}

{% endblock js%}