{% extends "material-admin/base.html" %}
{% load custom_tags %}
{% load static %}

{% block css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

{% endblock %}

{% block breadcrumb %}
<div class="col s12 m6 l6 ">
  <h5 class="breadcrumbs-title"><span> <code> Edit : </code> [<b> {{request.user.username}} /
        {{obj.fk_jenjang_pendidikan.nama}}]
    </span></h5>
</div>
<div class="col s12 m6 l6 right-align-md">
  <ol class="breadcrumbs mb-0">
    <li class="breadcrumb-item"><a href="{% url 'riwayatstudi:index' %}">Home</a></li>
    <li class="breadcrumb-item">Edit</li>
  </ol>
</div>
{% endblock breadcrumb %}

{% block content %}

<div class="row">
  <div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
      <div class="card-content">
        <form action="{% url 'riwayatkerja:save' %}" method="POST" class="form">
          {% csrf_token %}
          <div class="row">

            {% comment %} end of input form {% endcomment %}
            {% include 'riwayatkerja/lib/add-edit-fields.html' %}

            {% comment %} hidden values {% endcomment %}
            <input type="hidden" name="pk" value="{{obj.pk}}">

            {% comment %} button submit {% endcomment %}
            {% include 'riwayatkerja/lib/submit.html' %}

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}

{% include 'riwayatstudi/lib/select2.html' %}
{% include 'riwayatstudi/lib/select-custom.html' %}

{% endblock js%}