{% extends "material-admin/base.html" %}
{% load custom_tags %}
{% load static %}

{% block css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block breadcrumb %}
<!-- here you go -->
{% endblock %}

{% block content %}

<div class="col s12 m12 l12">
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="msg {{ message.tags }}" {% endif %}> {{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

<div class="row">
  <div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
      <div class="card-content">
        <h5> Tambah Pengguna [<b> {{request.user.username}}] </b> </h5>
        <hr />
        {{ form }}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}

{% endblock js%}