{% load custom_tags %}

{% for datas in riwayat_studi %}
<ul class="collapsible">
    <li>
        <div class="collapsible-header cyan">
            <i class="material-icons">add</i> Jenjang: {{datas.fk_jenjang_pendidikan.nama}}
        </div>
        <div class="collapsible-body">
            <div class="card card-primary primary">
                <div class="card-content">
                    <table>
                        {% for key in keys_rwstudi  %}
                        <tr>
                            <td> {{ key|as_title }} </td>
                            <td> : {% get_object_value datas key %} </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <br>
                    <a href="{% url 'riwayatstudi:edit' datas.pk %}" class="btn"> Edit </a>
                    <a href="{% url 'riwayatstudi:delete' datas.pk %}" class="btn red"> Delete </a>
                </div>
            </div>
        </div>
    </li>
</ul>

{% endfor %}