{% load custom_tags %}

{% for studi in riwayat_studi %}
<ul class="collapsible">
    <li>
        <div class="collapsible-header cyan white-text">
            <i class="material-icons">add</i>
            {{studi.fk_jenjang_pendidikan.nama}} / {{studi.nomor_induk_studi}} /
            {{studi.nama_instansi}}
        </div>
        <div class="collapsible-body">
            <div class="card card-primary primary">
                <div class="card-content">
                    {% include 'riwayatstudi/table-studi.html' %}
                    <br />
                    <a href="{% url 'riwayatstudi:edit' studi.pk %}" class="btn"> Edit </a>
                    <a href="{% url 'riwayatstudi:delete' studi.pk %}" class="btn red"> Delete </a>
                </div>
            </div>
        </div>
    </li>
</ul>

{% endfor %}