<li class="bold">
  <a class="waves-effect waves-cyan" href="{% url 'mainapp:index' %}">
    <i class="material-icons">dashboard</i>
    <span class="menu-title">Dashboard</span>
  </a>
  <a class="waves-effect waves-cyan" href="{% url 'pengguna:index' %}">
    <i class="material-icons">person</i>
    <span class="menu-title">Pengguna</span>
  </a>
  <a class="waves-effect waves-cyan" href="{% url 'riwayatstudi:index' %}">
    <i class="material-icons">book</i>
    <span class="menu-title">Riwayat Studi</span>
  </a>
  <a class="waves-effect waves-cyan" href="{% url 'riwayatkerja:index' %}">
    <i class="material-icons">assignment_ind</i>
    <span class="menu-title">Riwayat Kerja</span>
  </a>
</li>