<div class="nav-wrapper">
  <ul class="left hide-on-med-and-down" id="ul-horizontal-nav" data-menu="menu-navigation">
    <li id="header_dashboard">
      <a href="{% url 'mainapp:index' %}">
        <i class="material-icons">dashboard</i> <span> Dashboard </span>
      </a>
    </li>
    <li id="header_pengguna">
      <a href="{% url 'pengguna:index' %}">
        <i class="material-icons">person</i> <span> Pengguna </span>
      </a>
    </li>
    <li id="header_riwayatstudi">
      <a href="{% url 'riwayatstudi:index' %}">
        <i class="material-icons">book</i> <span> Riwayat Studi </span>
      </a>
    </li>
  </ul>
</div>